.m-5 {
    margin: 5rem;
}

.w-5 {
    width: 5rem;
}

.text-center {
    text-align: center;
}

button {
    color: black;
}

nav a:visited {
    color: #00f;
}

nav a {
    margin: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
}
